<div class="container">
  <h2 class="col-xs-8 col-xs-offset-2">ショッピングカート</h2>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="btn-box text-right">
      　 "カートを空にする"
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <table class="table genre-index table-bordered">
        <thead>
          <tr class="active">
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
            <th colspan="1"></th>
          </tr>
        </thead>
        <tbody>
          <% @cart_items.each do |cart_item| %>
            <tr>
              <td class="col-xs-5">
                <%= link_to user_product_path(cart_item.product) do %>
                  <%= image_tag cart_item.product.image,  size: '100x100' %>
                  <%= cart_item.product.name %>
                <% end %>
              </td>
              <td class="col-xs-2" align="right">税込　円</td><%# 単価(税込) %>
              <td class="col-xs-2" align="center">
                <%= form_with  model: cart_item ,url: user_cart_item_path(cart_item), method: :patch  do |f| %>
                  <%= f.select :amount,[1,2,3,4,5,6,7,8,9,10], {include_blank: "個数を選択して下さい"}, {class: "text", required: true} %>個
                  <%= f.submit "変更", class: "btn btn-success" %>
                <% end %>
              </td>
              <td class="col-xs-2" align="right">
                小計円<%# 小計 %>
              </td>
              <td class="col-xs-1"><%= link_to "削除する", user_cart_item_path(cart_item.id), method: :delete, class:"btn btn-danger" %></td>
          　</tr>
          <% end %>
        </tbody>
      </table>
      <div class="col-xs-8">
        <%= link_to "買い物を続ける", user_products_path, class:"btn btn-primary" %>
      </div>
      <div class="col-xs-4">
        <table class="table genre-index table-bordered">
          <tbody>
            <tr>
              <th class="active">合計金額</th>
              <td align="right">合計  円</td>
            </tr>
          </tbody>
        </table>
      </div>
    <div class="text-center">
     
    </div>
  </div>
</div>