<div class="container">
  <h2 class="col-xs-8 col-xs-offset-2">配送先編集</h2>
  <div class="row">
   <table class="input-table">
    <tbody>
      <%= form_with model: @address, url: user_address_path , method: :put, local: true do |f| %>
        <tr>
          <td><%= f.label :"郵便番号(ハイフンなし)" %></td>
          <td> <%= f.text_field :zip_code %></td>
        </tr>
        <tr>
          <td><%= f.label :"住所" ,class: "col-xs-3 control-label" %></td>
          <td> <%= f.text_field :address, class: "col-xs-7 form-control-static address" %></td>
        </tr>
        <tr>
          <td> <%= f.label :"宛名" ,class: "col-xs-3 control-label" %></td>
          <td><%= f.text_field :name, class: "col-xs-4 form-control-static name" %></td>
        </tr>
        <tr>
          <td><%= f.submit '更新する' ,class: "btn btn-success " %></td>
        </tr>
      <% end %>
   </tbody>
    </table>
  </div>
</div>