<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
    <h2><%= @user.last_name %>  <%= @user.first_name %>さんの会員詳細</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-1">
    </div>
    <div class="col-xs-5">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td><label>会員ID</label></td>
            <td><%= @user.id %></td>
          </tr>
          <tr>
            <td><label>氏名</label></td>
            <td><%= @user.last_name %>　<%= @user.first_name %></td>
          </tr>
          <tr>
            <td><label>フリガナ</label></td>
            <td><%= @user.last_name_kana %>　<%= @user.first_name_kana %></td>
          </tr>
          <tr>
            <td><label>郵便番号</label></td>
            <td><%= @user.zip_code %></td>
          </tr>
          <tr>
            <td><label>住所</label></td>
            <td><%= @user.address %></td>
          </tr>
          <tr>
            <td><label>電話番号</label></td>
            <td><%= @user.phone_number %></td>
          </tr>
          <tr>
            <td><label>メールアドレス</label></td>
            <td><%= @user.email %></td>
          </tr>
          <tr>
            <td><label>会員ステータス</label></td>
            <td>
             <% if @user.deleted_flg %>
                <span class="label label-primary">退会</span>
              <% else %>
                <span class="label label-danger">有効</span>
                
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="text-center">
          <%= link_to "編集する", edit_dashboard_user_path(@user), class:"btn btn-primary" %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-3">
          <%=link_to "注文一覧へ", dashboard_order_user_path(@user),class: "btn btn-secondary"%>
        </div>
      </div>
    </div>
  </div>
</div>