<header>
  <div class="container">
    <div class="row">
      <div class="col-xs-3 text-center">
        <%= link_to "ながのCAKE", root_path, class:"store" %><br>
      </div>
      <div class="col-xs-9 text-right">
        <% if user_signed_in? %>
        <div class="col-xs-6">
          <div class="welcome-user">
            <%= "ようこそ、" + current_user.last_name + current_user.first_name + "さん！" %><br>
          </div>
        </div>
        <div class="col-xe-6">
          <div class="user-link">
             "マイページ", current_user.id
            <%= link_to "商品一覧", user_products_path, class:"btn btn-default" %>
            <%= link_to "カート",user_cart_items_path, class:"btn btn-default" %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"btn btn-default" %>
          </div>
        </div>
        <% else %>
        <div class="user-link">
          <%= link_to "商品一覧",user_products_path, class:"btn btn-default" %>
          <%= link_to "新規登録", new_user_registration_path, class:"btn btn-default" %>
          <%= link_to "ログイン", new_user_session_path, class:"btn btn-default" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</header>